<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FARMER DETAILS</title>
</head>
<body>
 <form action="action_page.php">
  <div class="Farmer">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="Name"><b>Name</b></label>
    <input type="text" placeholder="Enter Your Name" name="name" required>

    <label for="Gender"><b>Gender</b></label>
    <input type="Choice" placeholder="select gender" name="gender" required>

    <label for="Contact Number"><b>Contact Number</b></label>
    <input type="Text" placeholder="Contact Number" name="number" required>

      <label for="Age"><b>Age</b></label>
    <input type="Text" placeholder="Age" name="age" required>

      <inpu
<!--    <label for="Age"><b>Age</b></label>-->
<!--    <input type="text" placeholder="Enter Your Age" name="Age" required>-->

    <hr>

</form>
</body>
</html>
